main .rte {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-m);
}

main .rte pre {
    overflow-x: auto;
    white-space: pre-wrap;
}

main .rte pre code {
    font-family: monospace;
}

main .rte .rte-html-content {
    font: inherit;
}
