footer {
  background-color: rgb(153 158 163);
  font-size: 1rem;
  position: relative;
}

.footer-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px var(--header-padding-x, 40px) 24px;
  display: flex;
  flex-wrap: wrap;
}

.footer-item {
  width: 50%;
  color: #fff;
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 19.2px;
  letter-spacing: 0.16px;
  margin: 0 0 12px;
  padding: 0;
}

@media (width >= 768px) {
  .footer-item {
    width: 33.333%;
  }
}

.footer-item a{
  color: #fff;
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 300;
  line-height: 19.2px;
  letter-spacing: 0.16px;
  text-decoration: none;
  overflow-wrap: break-word;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.footer-item a:hover {
  color: rgb(36 47 58);
}

@media (width < 768px) {
  .footer-inner {
    padding: 32px 24px 24px;
  }

  .footer-item,
  .footer-item a {
    font-size: 15px;
    letter-spacing: 0;
  }
}
