/* section-intro styles */

.section-intro h2 {
  font-size: 3.125em;
  font-family: goudy-wtc, serif;
  font-weight: 300;
  margin: 0 0 85px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2.5px;
}

@media (width <= 1366px) {
  .section-intro h2 {
    font-size: 2.75rem;
  }
}

@media (width <= 1020px) {
  .section-intro h2 {
    font-size: 2.375rem;
  }
}

@media (width <= 767px) {
  .section-intro h2 {
    font-size: 1.875rem;
    margin-bottom: 25px;
  }
}

.section-intro .section-intro-text {
  display: flex;
}

/* .section-intro .section-intro-text > div {
  flex: 1;
} */

.section-intro .subtext {
  font-size: 2rem;
  font-family: goudy-wtc, serif;
  font-weight: 300;
  width: 36.3636%;
  line-height: 1.2;
}

.section-intro .subtext p {
  margin: 0;
  padding: 0;
}

@media (width <= 767px) {
  .section-intro .section-intro-text {
    flex-direction: column;
  }
}

@media (width <= 767px) {
  .section-intro .subtext {
    width: 100%;
    font-size: 1.375rem;
    padding-right: 35px;
    margin-bottom: 35px;
  }
}

.section-intro .desc {
  font-family: calibre, sans-serif;
  font-weight: 400;
  color: #919191;
  line-height: 1.2;
  font-size: 1.063rem;
  margin-top: 5px;
  margin-left: 9.0909%;
  width: 27.2727%;
}

.section-intro .desc p {
  margin: 0;
  padding: 0;
}

@media (width <= 1020px) {
  .section-intro .desc {
    width: 45.4545%;
  }
}

@media (width <= 767px) {
  .section-intro .desc {
    width: 100%;
    margin-left: 0;
    padding-left: 35px;
  }
}
