.section-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 96px 24px 40px;
    background: #fff;
    text-align: center;
}

.section-intro .section-intro-title {
    width: 100%;
    max-width: 345px;
    margin: 0;
    color: #1b364b;
    font-family: var(--heading-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.section-intro .section-intro-text {
    width: 100%;
    max-width: 345px;
    color: #262727;
    font-family: var(--heading-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.section-intro .section-intro-text > * {
    margin: 0;
}

.section-intro .section-intro-text p + p {
    margin-top: 16px;
}

@media (width >= 768px) {
    .section-intro {
        gap: 48px;
        padding: 112px 48px 40px;
    }

    .section-intro .section-intro-title {
        max-width: 738px;
        font-size: 36px;
        line-height: 40px;
    }

    .section-intro .section-intro-text {
        max-width: 738px;
        font-size: 24px;
        line-height: 24px;
    }
}

@media (width >= 1200px) {
    .section-intro {
        gap: 56px;
        padding: 120px 80px 80px;
    }

    .section-intro .section-intro-title {
        max-width: 1280px;
        font-size: 40px;
        line-height: 40px;
    }

    .section-intro .section-intro-text {
        max-width: 800px;
    }

    .section-intro .section-intro-text p + p {
        margin-top: 20px;
    }
}
